
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
    background: white;
    background-size: cover;
    justify-content: center;
}

h2 {
  font-size: 20px;
  padding: 25px;
  font-family: sans-serif;
  text-align: center;
}

nav {
  background-color: #e0f0e0;
  border: none;
  border-radius: 20px;
}

.booking-form-box {
  max-width: 350px;
  border: 20px solid#e0ebeb;
  margin: 10% auto;
  border-radius: 25px;
  padding: 25px, 30px;
  width: 350px;
  height: 350;
}

.booking-form-box .booking-form {
  background-color: transparent;
  /* border-radius: 25px; */
}
.radio-btn {
  margin: 0 30px;
}

.radio-btn .btn {
  margin: 20px 10px 20px 0;
  box-shadow: none;
}

.radio-btn .btn::after {
  content: "";
  height: 11px;
  width: 11px;
  top: 0px;
  left: 0px;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: inline-block;
  border: 2px solid rgb(14, 12, 12);
  border-width: 1px;
  visibility: visible;
  border-radius: 50%;
}

.radio-btn .btn:checked::after {
  content: "";
  background-color: rgb(130, 167, 223);
  transition: 0.5s;
}

.radio-btn span {
  color: rgb(24, 0, 0);
  margin-right: 10px;
  font-size: 12px;
}

.booking-form {
  padding: 0 20px 20px;
}

.booking-form label {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 12px;
  color: rgb(2, 1, 1);
}


.city-select{
border: 1px solid #D8D8D8;
border-radius: 25px;
padding: 10px 70px 10px 70px;
text-align: center;
}


input::placeholder {
  color: rgb(7, 3, 3) !important;
}

.input-grp {
  width: 150px;
  display: inline-block;

}

label {
font-weight: bold;
padding: 5px 15px 5px 15px;
}

.form-control {
  font-size: 12px !important;
  border-radius: 25px !important;
  color: rgb(32, 29, 29);
  background: transparent !important;
  box-shadow: none !important;
border: 1px solid #D8D8D8;
  width: 300px;
  height: 25px;
  text-align: center;

}

.select-date {
  width: 150px;
  text-align: center;
}

.select-info {
  width: 150px;
}

.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select-date::-webkit-calender-picker-indicator {
  background: transparent !important;
}

.custom-select {
  color: #fff;
  font-size: 12px;
border: 1px solid #D8D8D8;
padding: 10px;
  border-radius: 25px !important;
  background: transparent;
  width: 150px;
  height: 25px;
  text-indent: 5px;
  color: rgb(0, 0, 0);
}

.custom-select option {
  color: rgb(0, 0, 0);
}

.flight {
  background: #e0f0e0;
  width: 100%;
  padding: 9px 0;
  font-size: 12px;
  border: 1px solid #ffffff !important;
  border-radius: 25px;
}

.flight:hover {
  background: #009999	 !important;
  color: #000 !important;
  transition: 0.5s;
}


