<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Find A Flight</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form action="" method="POST">
      <div div class="booking-form-box">
        <h2>Find A Flight</h2>
        <nav>
          <div class="radio-btn">
            <input
              type="radio"
              class="btn"
              name="check"
              checked="checked"
            /><span>Round Trip</span>
            <input type="radio" class="btn" name="check" /><span>One Way</span>
            <input type="radio" class="btn" name="check" /><span
              >Multi-City</span
            >
          </div>
        </nav>
        <br />

        <div class="booking-form">
          <label>Flying From</label><br />
          <select class="city-select" name="departure-city">
            <option value="Toronto">Toronto</option>
            <option value="Bahamas">Bahamas</option>
            <option value="Sydney">Sydney</option>
            <option value="London Heathrow">London Heathrow</option>
            <option value="Los Angeles">Los Angeles</option>
          </select>
          <br /><br />

          <label>Flying To:</label><br />
          <select class="city-select" name="arrival-city">
            <option value="Toronto">Toronto</option>
            <option value="Bahamas">Bahamas</option>
            <option value="Sydney">Sydney</option>
            <option value="London Heathrow">London Heathrow</option>
            <option value="Los-Angeles">Los-Angeles</option>
          </select>
          <br /><br />

          <div class="input-grp">
            <label>Departing</label><br />
            <input
              name="depart-date"
              type="date"
              class="form-control select-date"
            /><br /><br />
          </div>

          <div class="input-grp">
            <label>Returning</label><br />
            <input
              name="return-date"
              type="date"
              class="form-control select-date"
            /><br /><br />
          </div>

          <div class="input-grp">
            <label>Adults</label><br />
            <input
              name="adult-quantity"
              type="number"
              class="form-control select-info"
              value="1"
            /><br /><br />
          </div>
          <div class="input-grp">
            <label>Children</label><br />
            <input
              name="children-quantity"
              type="number"
              class="form-control select-info"
              value="0"
            /><br /><br />
          </div>

          <div class="input-grp">
            <label>Travel Class</label><br />
            <select class="custom-select" name="flight-class">
              <option value="1">Economy Class</option>
              <option value="2">Premium Economy Class</option>
              <option value="2">Business Economy Class</option>
            </select>
          </div>

          <div class="input-grp">
            <form action="/book">
              <input
                class="btn btn-primary flight"
                value="Check Availability"
                type="submit"
              />
            </form>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>

