<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Available Flights</title>
    <link rel="stylesheet" href="style2.css" />
  </head>
  <body>
    <div class="table-container">
      <h1 class="heading">Available Flights:</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Flight Number</th>
            <th>Airline</th>
            <th>Departure City</th>
            <th>Arrival City</th>
            <th>Time</th>
          </tr>
        </thead>

        <tbody>
          {% for data in info %}
          <tr>
            <td data-label="Flight Number">{{data[0]}}</td>
            <td data-label="Airline">{{data[1]}}</td>
            <td data-label="Departure City">{{data[2]}}</td>
            <td data-label="Arrival City">{{data[3]}}</td>
            <td data-label="Time">{{data[4]}}</td>
            <td data-label="#"><a href="{{url_for('payment')}}" class="btn">Select</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
