@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(107, 142, 175);
  font-family: "Quicksand", sans-serif;
  color: #bac7d3;
}

.login-container {
  font-size: 24px;
  margin: 25px;
  width: 370px;
  height: 370px;
  border: solid 1px white;
  border-radius: 50px;
  border-width: 5px;
}

.login-container form {
  text-align: justify;
  padding: 20px;
}

input {
  width: 80%;
}
